/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 480px) and (max-width: 767px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }

    .row {
        padding: 15px 0 !important;
    }

    .col-1, .col-2, .col-3, .col-5, .col-7, .col-9, .col-11, .col-2-3, .col-3-4, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-4, .col-6, .col-8, .col-10, .col-12 {
        width: 50%;
    }

    .section-padding { 
        padding-left: 15px; 
        padding-right: 15px; 
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 !important;
    }

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    #banner-content { 
        height: 600px; 
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }

    #banner-content.row {
        padding-top: 85px !important; 
    }

    #banner-headline { 
        width: 45%; 
    }

    /* Navigation */
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/
    /* Home */
    #home { 
        padding: 0 15px 0 15px !important; 
    }

    /* About Me */
    #timeline { 
        flex-direction: column; 
    }

    #timeline > div { 
        border: none;
    }

    div[class*='text-'] { 
        text-align: center;
    }

    /* Projects */
    #projects-list { 
        display: block !important; 
    }

    .project { 
        width: 50%; float: left; 
    }

    #rest-projects { 
        width: 100%; float: left; 
    }

    /* Footer */
    #contact-footer #copyright {
        float: left;
        width: 50%;
    }

    #contact-footer .social-icons {
        float: right;
        width: 50%;
    }

}
