/* =Media Queries for Nav
===============================*/
@media all and (max-width: 1024px) {
    #nav-trigger {
        display: block;
    }

    nav#nav-main {
        display: none;
    }

    nav#nav-mobile {
        display: block;
    }

    nav#nav-mobile li {
        display: block;
    }

    #header aside {
        display: none;
    }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 768px) and (max-width: 1024px) {
    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border {
        display:none;
    }

    /*-----------------Header Elements-----------------*/
    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    #banner-headline { width: 40%; }

    /* Navigation */
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Footer */
    #contact-footer {
        margin-bottom: 70px;
    }
}
